body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:621px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:620px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:39px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:10px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:9px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FF0000;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:194px;
  width:43px;
  height:16px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:227px;
  width:29px;
  height:16px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:260px;
  width:29px;
  height:16px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:189px;
  width:237px;
  height:24px;
}
#u491_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:223px;
  width:237px;
  height:24px;
}
#u492_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:257px;
  width:237px;
  height:24px;
}
#u493_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:89px;
  width:57px;
  height:16px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:123px;
  width:29px;
  height:16px;
  text-align:right;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:156px;
  width:29px;
  height:16px;
  text-align:right;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:89px;
  width:29px;
  height:16px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:123px;
  width:29px;
  height:16px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:156px;
  width:57px;
  height:16px;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:41px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:380px;
  height:40px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:592px;
  width:29px;
  height:16px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:589px;
  width:144px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:580px;
  width:145px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:58px;
  width:57px;
  height:16px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:58px;
  width:130px;
  height:16px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:580px;
  width:145px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u507 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:34px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
