body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:621px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:620px;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:40px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:378px;
  height:39px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:10px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:10px;
  width:9px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FF0000;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:140px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:99px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:59px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:41px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:579px;
  width:378px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:374px;
  word-wrap:break-word;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:177px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:216px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:56px;
  width:218px;
  height:25px;
}
#u298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:96px;
  width:218px;
  height:25px;
}
#u299_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:136px;
  width:218px;
  height:25px;
}
#u300_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:176px;
  width:218px;
  height:25px;
}
#u301_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:217px;
  width:218px;
  height:156px;
}
#u302_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:156px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:79px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u304 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:560px;
  width:378px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
