body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:621px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:620px;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:39px;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:10px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:9px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FF0000;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:50px;
  width:220px;
  height:24px;
}
#u560_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:52px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FF0000;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:91px;
  width:130px;
  height:16px;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:118px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:118px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:106px;
  width:20px;
  height:16px;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:143px;
  width:380px;
  height:1px;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:118px;
  width:87px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:154px;
  width:130px;
  height:16px;
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:181px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:181px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:169px;
  width:20px;
  height:16px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:380px;
  height:1px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:181px;
  width:87px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:217px;
  width:130px;
  height:16px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:244px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:244px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:232px;
  width:20px;
  height:16px;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:269px;
  width:380px;
  height:1px;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:244px;
  width:87px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:280px;
  width:130px;
  height:16px;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:307px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:307px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:295px;
  width:20px;
  height:16px;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:332px;
  width:380px;
  height:1px;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:307px;
  width:87px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:341px;
  width:130px;
  height:16px;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:368px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:368px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:356px;
  width:20px;
  height:16px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:393px;
  width:380px;
  height:1px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:368px;
  width:87px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:404px;
  width:130px;
  height:16px;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:431px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:431px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:419px;
  width:20px;
  height:16px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:456px;
  width:380px;
  height:1px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:431px;
  width:87px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:467px;
  width:130px;
  height:16px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:494px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:494px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:482px;
  width:20px;
  height:16px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:519px;
  width:380px;
  height:1px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:494px;
  width:87px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:530px;
  width:130px;
  height:16px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:557px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:557px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:545px;
  width:20px;
  height:16px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:557px;
  width:87px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:41px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:380px;
  height:40px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:580px;
  width:145px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:591px;
  width:118px;
  height:19px;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:91px;
  width:29px;
  height:18px;
  font-size:10px;
  color:#666666;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:154px;
  width:29px;
  height:18px;
  font-size:10px;
  color:#666666;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:217px;
  width:29px;
  height:18px;
  font-size:10px;
  color:#666666;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:280px;
  width:29px;
  height:18px;
  font-size:10px;
  color:#666666;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:341px;
  width:29px;
  height:18px;
  font-size:10px;
  color:#666666;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:404px;
  width:29px;
  height:18px;
  font-size:10px;
  color:#666666;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:467px;
  width:29px;
  height:18px;
  font-size:10px;
  color:#666666;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:530px;
  width:29px;
  height:18px;
  font-size:10px;
  color:#666666;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:580px;
  width:145px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
