body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:621px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:620px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:39px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:10px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:9px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FF0000;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:128px;
  width:43px;
  height:16px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:161px;
  width:57px;
  height:16px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:194px;
  width:57px;
  height:16px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:226px;
  width:57px;
  height:16px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:123px;
  width:237px;
  height:24px;
}
#u468_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:157px;
  width:237px;
  height:24px;
}
#u469_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:191px;
  width:237px;
  height:24px;
}
#u470_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:222px;
  width:237px;
  height:24px;
}
#u471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:259px;
  width:57px;
  height:16px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:255px;
  width:237px;
  height:94px;
}
#u473_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:94px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:41px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:380px;
  height:40px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:592px;
  width:29px;
  height:16px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:589px;
  width:144px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:580px;
  width:145px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:58px;
  width:85px;
  height:16px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:58px;
  width:99px;
  height:16px;
  color:#000000;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:89px;
  width:57px;
  height:16px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:89px;
  width:29px;
  height:16px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:580px;
  width:145px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:37px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
